@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
     --width-l: 1200px;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: "Trade Winds", system-ui;
    height: 9vw;
    color: #eec886c2;
    position: absolute;
}

h2 {
    height: 3.5em;
    color: #a39d5c;
}

h3 {
    height: 2.5em;
    color: #d1ca78;
}

header {
    position: relative;
    /*height: 40vh;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; */
}

.header-img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: var(--width-l);
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */
    z-index: -1; 
    display: block;
    background-position: left;
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;

}

.width-l {
    max-width: var(--width-l);
    margin: 0 auto;
}

.logo {
    font-size: 2vw;
    /* background-color: rgba(0, 0, 0, 0.5);  */
    /*Fondo semitransparente para destacar el texto*/
    padding: 0.5em;
}

nav {
    background-color: #444;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    display: block;
}

div a {
    color: #5cec08;
    text-decoration: none;
    padding: 1em;
    display: block;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

}

main p {
    height: 1.25em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    width: 400px;
    height: 700px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.grid-item-main {
    width: 97vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: #fff;
    height: 10vh;
    display: flex;
}

.footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-col1 {
    flex: 2;
    background-color: #444;
}

.footer-col2, .footer-col3 {
    flex: 1;
    background-color: #555;
}
